/* 特大デバイス（ワイド・デスクトップ, 1200px 以上）
============================================================================*/
@media screen and (min-width: 1200px) {
  #footer #footer-contents>div {
    border-left: 1px solid #774831;
    border-right: 1px solid #774831;
    border-collaps: collapse;
  }

  #footer #footer-contents>div:last-child {
    border-right: 1px solid #774831;
  }

  #footer img {
    width: 100%;
  }

  .img-pc-home {
    display: block !important;
  }

  .img-sp-home {
    display: none !important;
  }

  .img-pc {
    display: block !important;
  }

  .img-sp {
    display: none !important;
  }

  .br-pc {
    display: block !important;
  }

  .br-sp {
    display: none !important;
  }
}

/* END */

/* 大デバイス（デスクトップ, 1200px 未満）
============================================================================*/
@media screen and (max-width: 1199.98px) {
  /* トップページ：各セクション */

  #footer #footer-contents>div {
    border-left: none;
    border-right: none;
  }

  .img-pc {
    display: block !important;
  }

  .img-sp {
    display: none !important;
  }

  .br-pc {
    display: block !important;
  }

  .br-sp {
    display: none !important;
  }
}

/* END */

/* 中デバイス（タブレット, 992px 未満）
============================================================================*/
@media screen and (max-width: 991.98px) {
  #footer #footer-contents>div {
    border-bottom: 1px solid #774831;
    border-left: none;
    border-right: none;
    padding-bottom: 1rem;
  }

  #footer img {
    width: 100%;
    max-width: 748px;
    margin: 0 auto;
  }

  #footer ul li {
    border-right: none !important;
    border-left: none !important;
  }

  /* トップページ：各セクション */

  .br-pc {
    display: block !important;
  }

  .br-sp {
    display: none !important;
  }

  .br-pc {
    display: block !important;
  }

  .br-sp {
    display: none !important;
  }
}

/* END */

/* 小デバイス（横向きモバイル, 768px 未満）
============================================================================*/
@media screen and (max-width: 767.98px) {

  #footer #footer-contents>div:first-child {
    border-right: none !important;
    border-left: none !important;
  }

  #footer .container {
    padding-top: 0px;
  }

  #footer .container .row {
    margin-bottom: 0;
  }

  .img-pc {
    display: none !important;
  }

  .img-sp {
    display: block !important;
  }

  .br-pc {
    display: none !important;
  }

  .br-sp {
    display: block !important;
  }

  .section-whlrSK4 {
    padding: 30px 0 40px;
  }

  /* トップページ：各セクション */


  #footer {
    padding: 0 0 190px;
  }

  #footer #copyright ul li,
  #footer #copyright ol li {
    border-left: none !important;
    border-right: none !important;
  }

  /* 下層ページ */

  #page section {
    padding: 30px 0 0;
  }
}

/* END */

/* 極小デバイス（縦向きモバイル, 576px 未満）
============================================================================*/
@media screen and (max-width: 575.98px) {
  /* トップページ：各セクション */


  .img-pc {
    display: none !important;
  }

  .img-sp {
    display: block !important;
  }

  .br-pc {
    display: none !important;
  }

  .br-sp {
    display: block !important;
  }

  #footer {
    padding: 0 0 130px;
  }

  /* 下層ページ */

  #page section {
    padding: 20px 0 0;
  }
}

/* END */
